@model UploadMultipleFiles.Models.UploadMultipleFilesViewModel

@{
    ViewData["Title"] = "Upload";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Upload" asp-controller="Home" method="post" enctype="multipart/form-data">
    @if (Model.IsResponse)
    {
        if (Model.IsSuccess)
        {
            <div class="alert alert-success">
                @Model.Message
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                @Model.Message
            </div>
        }
    }

    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Escolha os arquivos:</label>
            <input asp-for="Files" class="form-control" multiple accept="image/*" />
            <span asp-validation-for="Files" class="text-danger"></span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <button type="submit" class="btn btn-success">Upload</button>
        </div>
    </div>
</form>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}